<div class="header-container">
    <div class="header-box">
        {{ source('@NeustaConverter/debug/assets/icon/symfony_black.svg') }}
        <h1>{{ 'neusta_converter.debug.service_inspector.header.title'|trans }}</h1>
        <p>{{ 'neusta_converter.debug.service_inspector.header.brief_description'|trans }}</p>
        {{ source('@NeustaConverter/debug/assets/icon/logo_neusta.svg') }}
    </div>
    <div class="header-box header-box--info">
        <div class="welcome">
            <div>{{ 'neusta_converter.debug.service_inspector.header.welcome'|trans|raw }}</div>
            {{ source('@NeustaConverter/debug/assets/icon/brand-symfony.svg') }}
        </div>
        <div class="date" id="datum"></div>
        <div class="service-items service-items-total" id="accordion-count" data-label="{{ 'neusta_converter.debug.service_inspector.header.stats'|trans({'%shown%': '__SHOWN__', '%total%': '__TOTAL__'}) }}"></div>

    </div>
</div>
