<div class="header-container">
    <div class="header-box">
        {{ source('@NeustaConverter/debug/assets/icon/symfony_black.svg') }}
        <h1>Converter - Populator - Pattern</h1>
        <p>
            Hier sehen Sie eine Übersicht aller Converter, Populatoren und Ziel-Fabriken, die in Ihrer Plattform
            deklariert wurden. Dies soll Ihnen helfen, verkettete Aufrufe wie „Converter → Populator → Converter“ zu
            verstehen.
        </p>
        {{ source('@NeustaConverter/debug/assets/icon/logo_neusta.svg') }}
    </div>
    <div class="header-box header-box--info">
        <div class="welcome">
            <div>Welcome <span class="user-name">Symfonians</span></div>
            {{ source('@NeustaConverter/debug/assets/icon/brand-symfony.svg') }}
        </div>
        <div class="date" id="datum"></div>
        <div class="service-items service-items-total" id="accordion-count"></div>

        <table class="service-summary-table">
            {% set otherServiceCount = services|length %}
            <thead>
            <tr>
                <th>Bundle</th>
                <th>Service Count</th>
            </tr>
            </thead>
            <tbody>
            {% for bundle in bundles %}
                {% if bundle.serviceCount > 0 %}
                    <tr>
                        <td>{{ bundle.bundleName }}</td>
                        <td>{{ bundle.serviceCount }}</td>
                    </tr>
                    {% set otherServiceCount = otherServiceCount - bundle.serviceCount %}
                {% endif %}
            {% endfor %}
            <tr class="other-row">
                <td><strong>Other Services</strong></td>
                <td><strong>{{ otherServiceCount }}</strong></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
