<div class="chip-container">
    <label class="chip-label" for="chips-filter">{{ 'neusta_converter.debug.service_inspector.chip_container.label'|trans }}</label>
    <div class="chips">
        <button id="chips-filter" class="chip-button chip-converters">
            <i class="material-icons">sync_alt</i>{{ 'neusta_converter.debug.service_inspector.chip_container.chip_converter'|trans }}
        </button>
        <button class="chip-button chip-populator">
            <i class="material-icons">build_circle</i>{{ 'neusta_converter.debug.service_inspector.chip_container.chip_populator'|trans }}
        </button>
        <button class="chip-button chip-factories">
            <i class="material-icons">factory</i>{{ 'neusta_converter.debug.service_inspector.chip_container.chip_factory'|trans }}
        </button>
        <button class="chip-button chip-sort-name">
            <i class="material-icons">sort_by_alpha</i>{{ 'neusta_converter.debug.service_inspector.chip_container.chip_sort_by_name'|trans }}
        </button>
        <button class="chip-button chip-sort-type">
            <i class="material-icons">category</i>{{ 'neusta_converter.debug.service_inspector.chip_container.chip_sort_by_type'|trans }}
        </button>
        <button class="chip-button chip-reset">
            <i class="material-icons">restart_alt</i>{{ 'neusta_converter.debug.service_inspector.chip_container.chip_reset_all'|trans }}
        </button>
    </div>
</div>
